{% extends 'base/base.html' %} {% load static %} {% block content %}

<div class="row wrapper border-bottom bg-white page-heading" style="margin-bottom: 30px;">
    <div class="col-lg-10">
        <h2 class="text-muted profile">Lista de consultas agendadas</h2>
    </div>
    <p class="btn btn-info btn-sm" style="float:right;" type="button">
        Total de consultas <span class="badge badge-light" style="font-size:14px; margin-left:10px;">
            {{ show_total_values|length }}</span>
    </p>
</div>
<div class="container">
    <form method="GET">
        <div class="col-12">
            <div class="row">
                <div class="form-group">
                    <a class="btn btn-info" href="{% url 'appointments:create-appointment'%}"
                       style="margin-bottom: 10px;">
                        Cadastrar nova consulta</a>
                </div>

                <div class="form-group col-md-4">
                    <label class="sr-only" for="search"></label>
                    <input class="form-control" id="search" name="search" placeholder="Pesquisar por nome do paciente" type="text"
                           value="{{ request.GET.search }}">
                </div>
                <div class="form-group col-md-4">
                    <label class="sr-only" for="date_appointment">Data do agendamento</label>
                    <input autocomplete="off" class="form-control datetimepicker" id="date_appointment" name="date_appointment"
                           placeholder="Pesquisar por data de agendamento" type="text"
                           value="{{ form.date_appointment | date:'d/m/Y H:i' }}">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mb-2" type="submit">Pesquisar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row my-reserve">
    {% for appointment in appointments %}
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title ">{{ appointment.patient }} <span class="badge {% if appointment.date_now %}badge-success
                        {% else %} badge-danger {% endif %}">
                        {% if appointment.date_now %} Consulta agendada
                        {% else %} Consulta cancelada{% endif %}</span>
                </h5>

                Número do prontuario: <b>{{appointment.patient.medical_record_number}}</b></br>
                Medico responsavel: <b>{{ appointment.professional }}</b>
                <p class="card-text">Data da consulta: <b>{{ appointment.date_appointment | date:'d/m/Y H:i' }}</b>
                </p>
                <ul>
                    {% for appointment in appointment.type_appointment.all %}
                    <li> Tipo de consulta: <b>{{ appointment.name }}</b> $ {{ appointment.price }}</li>
                    {% endfor %}
                </ul>
                <h5><span class="badge  badge-secondary" style="float:right">
                        Total: $ {{ appointment.total }}</span>
                </h5>
                <a class="btn btn-info fa fa-edit" href="{% url 'appointments:update-appointment' appointment.id %}"
                   title="Editar consulta"></a>
                {% if appointment.date_now %}
                <a class="btn btn-secondary fa fa-check"
                   href="{% url 'appointments:start-consultation' appointment.id %}" title="Iniciar consulta"></a>
                {% endif %}
                {% if appointment.consulting and appointment.date_now %}
                <span class="text-success">Paciente em atendimento</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not appointments %}
    <div class="col-md-6 offset-4">
        <div class="alert alert-warning" role="alert ">Nenhuma consulta cadastrada.</div>
    </div>
    {% endif %}
</div>

</div>
{% if appointments.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if appointments.has_previous %}
        <li class="page-item">
            <a aria-label="Previous" class="page-link" href="?page={{ appointments.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
        </li>
        {% endif %}
        {% for i in appointments.paginator.page_range %}
        {% if appointments.number == i %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if appointments.has_next %}
        <li class="page-item">
            <a aria-label="Next" class="page-link" href="?page={{ appointments.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
        </li>
        {% endif %}
        <span current="current" style="margin-left:12px;">
            {{ appointments.number }} de {{ appointments.paginator.num_pages }}
        </span>

    </ul>
</nav>
{% endif %}
{% endblock %}