{% load static %}

{% block css %}
<!--CSS-->
{% include 'base/css.html' %}
{% include 'base/messages.html' %}

<!-- <link rel="stylesheet" href="{% static 'dist/css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/signin.css' %}"> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}
<!--JS-->
{% include 'base/js.html' %}

{% block content %}
<form method='POST' novalidate>
    {% csrf_token %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="sr-only">Name</label>
                    {{ form.nome }}
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label class="sr-only">cpf</label>
                    {{ form.cpf }}
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label class="sr-only">Name</label>
                    {{ form.birth_date }}
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label class="sr-only">sexo</label>
                    {{ form.sexo }}
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label class="sr-only">phone_number</label>
                    {{ form.phone_number }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    {{ form.isWhatsapp }}
                    <label class="form-check-label">
                        <strong>Este numero é de Whatsapp.</strong></label>
                    <small id="emailHelp" class="form-text text-muted">Caso o numero de celular seja de Whatsapp está
                        opção deverá ser marcada.</small>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label class="sr-only">landline</label>
                    {{ form.landline }}
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="sr-only">E-mail</label>
                    {{ form.email }}
                </div>
                <hr>
            </div>
            
          
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="sr-only">Name</label>
                            {{ form.username }}
                        </div>
                    </div>

                </div>
                  
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="sr-only">Senha</label>
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="sr-only">Confirme a senha</label>
                            {{ form.confirm_password }}
                        </div>
                    </div>
                </div>
            </div>
            <button type='submit' class='btn btn-info'>Salvar</button>
        </div>
    </div>
</form>

{% endblock %}